<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleMenu()" class="mobile-menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="nav-links" [ngClass]="{ 'show': menuOpen }">
    <button mat-button
            routerLink="/home"
            routerLinkActive="active"
            (click)="toggleMenu()">
      Home
    </button>
    <mat-divider></mat-divider>
    <button mat-button
            routerLink="/xchg"
            routerLinkActive="active"
            (click)="toggleMenu()">
      Exchange
    </button>
    <mat-divider></mat-divider>
    <button mat-button
            routerLink="/login"
            routerLinkActive="active"
            *ngIf="!isLoggedIn"
            (click)="toggleMenu()">
      Log in
    </button>
    <mat-divider></mat-divider>
    <button mat-button
            routerLink="/register"
            routerLinkActive="active"
            *ngIf="!isLoggedIn"
            (click)="toggleMenu()">
      Register
    </button>
    <mat-divider></mat-divider>
    <button mat-button
            routerLink="/profile"
            routerLinkActive="active"
            *ngIf="isLoggedIn"
            (click)="toggleMenu()">
      Profile
    </button>
  </div>
</mat-toolbar>
