@use '../../styles' as styles;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: styles.$container-color;
  min-height: 85vh;
}

mat-card {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  box-shadow: styles.$container-shadow;
  border-radius: 10px;
  overflow: hidden;

  &-title {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 16px;
    background: linear-gradient(45deg, #c2185b, #1976d2);
    color: white;
  }

  &-content {
    padding: 16px;
    p {
      margin: 8px 0;
      font-size: 1rem;
      line-height: 1.4;
      strong {
        font-weight: 600;
      }
    }
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    background-color: #fafafa;
    button {
      padding: 8px 24px;
      font-size: 0.9rem;
      background-color: #512da8 !important;
    }
  }
}

@media (min-width: 480px) {
  mat-card {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  :host {
    padding: 32px;
  }
  mat-card {
    max-width: 600px;
    &-content {
      padding: 24px;
    }
    &-actions {
      padding: 24px;
      button {
        font-size: 1rem;
      }
    }
  }
}
