@use '@angular/material/prebuilt-themes/pink-bluegrey.css';

$container-color: #f4f4f4;
$container-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin formatAuth($sel){
  #{$sel} {
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 10px;
    border-radius: 10px;

    @media(min-width: 768px){
      width: 25%;
    }

    #links {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        margin: 5px;
        font-size: 12px;
      }

      fa-icon {
        font-size: 7px;
      }
    }
  }
}

@keyframes gradientAnimation {
  0% { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}
