@use '../../styles';
@use '@angular/material' as mat;

#signup-container{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  mat-checkbox{
    @include mat.checkbox-overrides((
      label-text-color: black,
      unselected-icon-color: black,
      unselected-hover-icon-color: grey,
      unselected-focus-icon-color: grey
    ));

    margin: 10px 0 10px 0;
  }
}

@include styles.formatAuth(#signup);
